* {
    padding: 100;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-image: url(https://cdn.wallpapersafari.com/99/12/dMLH9F.jpg);
    font-family: 'Comforter', cursive;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.title {
    color: white;
    top: 50px;
    left: 82vh;
    position:fixed;
    text-align: center;
    font-size: 4.5rem;
}

#cardboard {
    width: 660px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    cursor: pointer;
}

.memory-card {
    width: calc(25% - 10px);
    height: 33%;
    margin: 5px;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;
}

.memory-card:active {
    transform: scale(0.97);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: black;
    position: absolute;
    background: #490404;
    border-radius: 5px ;
}

.front-face {
    transform: rotateY(180deg);
}